/* Root Variables */
:root {
  --main-font: 'Cinzel', serif;
  --second-font: 'Montserrat', sans-serif;
  --font-main-color: rgb(255, 255, 255);
  --font-second-color: rgb(0, 0, 0);
  --font-size: 17px; /* Body */
  --font-size-tagline: 17px; /* Tagline */
  --font-size-subtitle: 20px; /* Subtitle */
  --font-size-title: 60px;
  
}


body {
  font-family: var(--second-font);
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-x: hidden;
}


/* --- Home/Header Section Styles --- */
#home {
  position: relative;
  height: 100vh; /* Example: 80% of the viewport height */
  overflow: hidden;
  
}

.home-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}




.home-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 2s ease-in-out;
  z-index: -2; /* Push further back */
}

.home-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Your black overlay at 30% */
  z-index: -1; /* Should be above the video but behind content */
  pointer-events: none; /* Ensures it's non-interactive */
}

.home-title {
  text-align: center;
  z-index: 1;
  font-weight: bold;
}

.eyebrow {
  font-size: var(--font-size-subtitle);
  font-family: var(--second-font);
  color: var(--font-main-color);
  font-weight: normal;
  margin-bottom: 10px;
}

.home-title h1 {
  color: var(--font-main-color);
  font-size: var(--font-size-title);
  font-family: var(--main-font);
  margin-top: 0;
  margin-bottom: 10px;
}

.home-title h2 {
  /* Existing styles */
  color: var(--font-main-color);
  font-size: var(--font-size-tagline);
  font-family: var(--second-font);
  font-weight: normal;
  margin-top: 5px;
}

.expert {
  font-style: italic;
}


.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 10px;
  background-color: transparent; /* Initially transparent */
  transition: background-color 0.3s ease-in-out;
}

.header-container{
  margin-inline: auto;
  display: flex;
  gap: 44px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}


.main-header.scrolled {
  background-color: white; /* White background when scrolled */
}

.main-header.scrolled .main-nav ul li a {
  color: black; /* Black text when scrolled */
}

.client-logo {
  width: auto; /* Adjust as needed */
  max-height: 80px;
  filter: invert(100%);
  transition: filter 0.3s ease-in-out;
}


.client-logo {
  margin-left: 20px; /* Adjust left spacing */
}


.main-header.scrolled .client-logo {
  filter: invert(0%); /* Original logo color when scrolled */
}

.nav-container {
  display: flex; /* Enable flexbox for centering */
  justify-content: flex-end; /* Center the navigation items */
  align-items: center;
  flex-grow: 1; /* Allow it to take up available space */
  margin-right: 100px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
}

.main-nav ul li {
  margin-left: 20px;
}

.main-nav ul li:first-child {
  margin-left: 0;
}

.main-nav ul li a {
  text-decoration: underline;
  color: var(--font-main-color); /* White text color for links initially */
  font-family: var(--second-font);
  font-size: var(--font-size);
  transition: color 0.3s ease-in-out;
}

.main-nav ul li a:hover {
  text-decoration: underline;
  color: black;
}

/* Hamburger Menu styles */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Even spacing between lines */
  width: 30px;
  cursor: pointer;
  margin-right: 20px; 
  margin-left: 20px;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  transition: background-color 0.3s ease-in-out;
}

.hamburger-menu.scrolled .bar {
  background-color: black;
}


/* Hide header when scrolling down */
.main-header.hide-header {
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth, easing transition */
}

/* Ensure the header comes back smoothly when scrolling up */
.main-header {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease-in-out;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .nav-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .nav-container.active {
    display: flex;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav ul li {
    margin: 10px 0;
  }

  .hamburger-menu {
    display: flex;
  }
}


/* --- About Section Styles --- */
.about-section {
  display: flex;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
  gap: 30px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: center; /* Center the content horizontally on larger screens */
}

.about-container{
  max-width: 1440px;
  margin-inline: auto;
}

.about-image {
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}


.about-text-container { 
  display: flex;
  justify-content: center; 
}

.about-text {
  margin-bottom: 50px;
  padding-left: 75px;
  max-width: 600px; 
}
.about-text h2 {
  color: var(--font-second-color);
  font-size: var(--font-size-title);
  font-family: var(--main-font);
  text-align: left;
  margin-bottom: 0px;
  margin-top: 10px;
}



.about-text .eyebrow {
  text-align: left; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-text p {
  color: var(--font-second-color);
  font-size: var(--font-size-tagline);
  font-family: var(--second-font);
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify; /* Keep text justified */
 
}

.dark-btn__transparent {
  border: 2px solid black;
  padding: 15px 30px;
  min-width: 180px;
  background-color: transparent;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 15px;
  border-radius: 30px;
}

.dark-btn__transparent:hover {
  background-color: black;
  color: white;
}

/* --- ABOUT SECTION RESPONSIVENESS --- */
@media (max-width: 1024px) {
  .about-section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about-image {
    max-width: 400px;
    margin-left: 20px;
  }

  .about-text {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-container {
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
  }

  .about-image {
    max-width: 80%; 
    margin-bottom: 30px; 
  }

  .about-text-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .about-text {
    text-align: left; 
    max-width: 600px; 
  } 

  .about-text h2,
  .about-text .eyebrow {
    text-align: center; 
  }
}


/* --- GET-IT-SOLD-CONTAINER --- */
#features{
  background-color: rgb(0, 0, 0); /* Ensure container background is black */
  width: 100%;
}


.features-container{
  max-width: 1440px;
  margin-inline: auto;
  flex-direction: row;
}


.get-it-sold-container {
  display: flex;
  align-items: center;
  max-width: auto;
  padding-bottom: 96px;
  padding-top: 96px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center; /* Center the content horizontally on larger screens */
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}


.get-it-sold-container h3{
  font-size: 23px;
  columns: var(--font-second-color);
}
.get-it-sold-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.text-content {
  flex: 1;
  min-width: 300px;
  color: white;
}


.text-content .eyebrow {
  text-align: left; /* Center the eyebrow text within the text block */
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--font-main-color);
  font-size: var(--font-size-tagline);
}


.text-content h2 {
 color: var(--font-main-color);
  font-size: var(--font-size-title);
  font-family: var(--main-font);
  text-align: left; /* Center the heading within the text block */
  margin-bottom: 0;
  margin-top: 10px;
}

.text-content .top-sales {
  color: var(--font-main-color);
  font-size: var(--font-size);
  font-family: var(--second-font);
  margin-top: 30px;
}



.text-content p {
  color: var(--font-main-color);
  font-size: var(--font-size);
  font-family: var(--second-font);
  line-height: 1.6;
  text-align: justify; /* Keep text justified */

}



.image-content {
  flex: 1;
  min-width: 300px;
  text-align: right;
  margin-inline: auto;
}


.top-residential {
  max-width: 100%;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-right: 50px;
}



.dont-just-list-it-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
}

.dont-just-list-it-content .text-content {
  flex: 1;
  min-width: 300px;
  color: white;
  margin-right: 50px; /* Reverse side compared to get-it-sold */
}

.dont-just-list-it-content .text-content p {
  color: var(--font-main-color);
  font-size: var(--font-size);
  font-family: var(--second-font);
  line-height: 1.6;
  text-align: justify;
}

.dont-just-list-it-content .image-content {
  flex: 1;
  min-width: 300px;
  text-align: left; /* Align image left */
}


.dont-just-list-it-img {
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 8px;
  margin-left: 50px;
}


.guide-to-buyers-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.text-content {
  flex: 1;
  min-width: 300px;
  color: white;
  margin-left: 50px;
}

.text-content .guide-to-buyers {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--font-main-color);
  font-size: var(--font-size-tagline);
}

.text-content p {
  color: var(--font-main-color);
  font-size: var(--font-size);
  font-family: var(--second-font);
  line-height: 1.6;
  text-align: justify; /* Keep text justified */
  word-wrap: break-word; /* Prevent word cutting */
}
  
.image-content {
  flex: 1;
  min-width: 300px;
  text-align: right;
}


.guide-to-buyers-img {
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 8px;
  margin-right: 50px;
}



#listings {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/Find-your-dream-home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.listings-container{
 max-width: 1440px;
 margin-inline: auto;
 display: flex;
 flex-direction: column;
}

.Listing-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 1068px;
  margin-left: 136px;
  margin-right: 186px;
  margin-block: 64px;  
}


.Listing-center {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 1068px;
  padding: 60px 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: auto;
  gap: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.Listing-content .eyebrow {
  color: var(--font-main-color);
  font-size: var(--font-size-tagline);
  margin: 0px;
}

.Listing-content h2 {
  color: var(--font-main-color);
  font-size: var(--font-size-title);
  font-family: var(--main-font);
  margin: 0px;
}




.form-column {
  display:flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.form-type, .form-loc , .form-sort{
  flex-basis: 100%;

}



.form-input{
  border: 1px solid #999;
  padding: 10px;
  background-color: transparent;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 15px;
  border-radius: 20px;
  width: 100%;
  max-height: 18px;
}

.form-row{
  display: flex; 
  gap: 8px;

}

/* Button */
.find-button {
  height: 40px;
  padding: 15px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: var(--font-size);
  font-family: var(--second-font);
  flex: 1;
  width: 100%
}

.form-btn{
  width:100%;
}



.logo-marquee {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    z-index: 2;
    max-width: 1000px;
    margin-inline: auto;

}

.logo-wrapper {
    display: flex;
    gap: 80px;
    animation: move-logos 20s linear infinite;
}

.logo {
    height: 50px; /* Adjust the size of the logos */
    margin-right: 50px; /* Adjust spacing between logos */
    filter: invert(1);
}

@keyframes move-logos {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


#services {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Ensure that it doesn't overlap */
}

.services-container {
  width: 100%;
  max-width: 1440px; /* overall page width */
  padding-left: 140px;
  box-sizing: border-box;
   padding-bottom: 80px;
  padding-top: 96px;
  padding-left: 80px;
  padding-right: 80px;
}

.services-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* for responsiveness */
  gap: 40px;
  margin-bottom: 40px;
}

.services-content {
  flex: 1;
  min-width: 300px;
}

.services-content .eyebrow {
  color: var(--font-second-color);
  font-size: var(--font-size-tagline);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.services-content h2 {
  font-size: var(--font-size-title);
  font-family: var(--main-font);
  color: #000;
  margin: 0;
}

.services-info {
  color: var(--second-font);
  font-size: 23px;
  font-weight: bold;
  font-family: var(--second-font);
}

.side-image {
  flex: 1;
  min-width: 300px;
  height: 500px; /* Adjust height for the side image */
}

.side-image img {
  width: 100%;
  height: 100%; /* Ensures the side image scales down based on flex */
  border-radius: 12px;
  object-fit: cover;
}

.bottom-images {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-images img {
  width: 100%;
  max-width: 400px; /* Or any fixed value you want */
  height: 250px;     /* Make this equal to width for square */
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}



/* GALLERY SECTION */
#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.gallery-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 80px; /* Left padding */
  padding-right: 80px; /* Right padding */
}

.gallery-content {
  align-self: flex-start;
  text-align: left;
  margin-bottom: 20px; /* spacing below the heading */
  padding-left: 80px;
}


.gallery-content .eyebrow {
  color: var(--font-second-color);
  font-size: var(--font-size-tagline);
  letter-spacing: 2px;
}

.gallery-content h2 {
  font-size: var(--font-size-title);
  font-family: var(--main-font);
  color: #000;
  margin: 0;
}

.main-image {
  width: calc(100% - 160px); /* Subtract padding from total width */
  height: calc(100vh - 192px - 100px); /* Full height minus paddings & thumbnails */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  transition: background-image 0.5s ease;
  
}

.thumbnails {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.thumb {
  width: 100px;
  height: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
}

.thumb.active,
.thumb:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Images set via CSS classes */
.thumb-1 { background-image: url('../images/Photo-gallery-1.webp'); }
.thumb-2 { background-image: url('../images/Photo-gallery-2.webp'); }
.thumb-3 { background-image: url('../images/Photo-gallery-3.webp'); }
.thumb-4 { background-image: url('../images/Photo-gallery-4.webp'); }
.thumb-5 { background-image: url('../images/Photo-gallery-5.webp'); }
.thumb-6 { background-image: url('../images/Photo-gallery-6.webp'); }
.thumb-7 { background-image: url('../images/Photo-gallery-7.webp'); }
.thumb-8 { background-image: url('../images/Valley.webp'); }

#map-section {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.map-container {
  max-width: 1440px;
  width: 100%;
}

.google-map {
  width: 100%;
  height: 250px;
  border: 0;
  display: block;
}

#contact-section {
  background-color: #000;
  color: #fff;
  padding: 96px 80px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  gap: 10px; /* Reduced from 15% to 10px */
}

.contact-left,
.contact-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-left{
  border-radius: 10px;
  max-height: 100%;

}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  
}

.contact-form .eyebrow {
  font-size: var(--font-size);
  text-align: left;
  font-family: var(--second-font);
  color: var(--font-main-color);
}

.contact-form h2{
  font-size: 23px;
  font-family: var(--second-font);
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 2px solid #fff;      
  border-radius: 20px;
  font-size: 16px;
  width: 95%;
  background-color: transparent;  
  color: #fff;                 
  outline: none;                
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 14px;  
  color: #aaa;
  font-family: var(--second-font);
}

.contact-form button {
  border: 2px solid #fff;
  padding: 15px 30px;
  min-width: 180px;
  background-color: #000;  /* Default: black background */
  color: #fff;             /* Default: white text */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 15px;
  border-radius: 30px;
}

.contact-form button:hover {
  background-color: #fff;  /* Hover: white background */
  color: #000;             /* Hover: black text */
}

.contact-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
  text-align: center;
  gap: 10px;
  font-family: var(--second-font);
  font-weight: normal;
}

.contact-text .eyebrow {
  font-size: var(--font-size-tagline);
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 500;
  font-weight: normal;
}

.contact-text h2 {
  font-size: 48px;
  font-family: var(--main-font);
  font-weight: bold;
  margin: 0;
}



.contact-details {
  margin-bottom: 70px;
  font-size: var(--font-size);
  text-align: left;
  font-family: var(--second-font);
}


.contact-details .eyebrow{
  text-align: center;
}

.subheading {
  font-weight: bold;
  font-size: var(--font-size);
}

.contact-btn{
  width: 100%;
}


.contact-btn {
  border: 2px solid #fff;
  padding: 15px 30px;
  min-width: 180px;
  background-color: #000;  /* Default: black background */
  color: #fff;             /* Default: white text */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 15px;
  border-radius: 30px;
}

.contact-btn:hover {
  background-color: #fff;  /* Hover: white background */
  color: #000;             /* Hover: black text */
}



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 20px 80px;
  color: white;
}

.footer-logo {
  margin-bottom: 20px;
  text-align: center;
}

.client-logo {
  max-width: 200px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1400px;
}

.footer-email,
.footer-address,
.footer-social-subtitle {
  flex: 1;
}

.footer-email {
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.footer-address {
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.footer-social-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.footer-subtitle,
.follow-text {
  font-size: var(--font-size-tagline); /* Reuse the same font style */
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-icon i {
  font-size: 16px;
}

.social-icon:hover {
  background-color: white;
  color: black;
}
