<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>Marci Metzger Real Estate</title>
</head>
<body>

  <header class="main-header">
    <div class="logo-container">
      <img src="../static/images/Client.png" alt="Client Logo" class="client-logo">
    </div>
    <div class="nav-container"> <nav class="main-nav">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">LISTINGS</a></li>
          <li><a href="#">GALLERY</a></li>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="home" class="full-bleed">
    <div class="home-container">
      <video autoplay muted loop>
        <source src="../static/images/Home-page.mp4" type="video/mp4">
      </video>
    </div>
  </section>

  <script src="../static/js/website.js"></script>
</body>
</html>