<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>Marci Metzger Real Estate</title>
</head>
<body>
<header class="main-header">
    <div class="logo-container">
        <img src="../static/images/Client.png" alt="Client Logo" class="client-logo">
    </div>
    <div class="nav-container">
        <nav class="main-nav">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">LISTINGS</a></li>
                <li><a href="#">GALLERY</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </nav>
    </div>
    <div class="hamburger-menu" id="hamburger-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</header>


 <section id="home" class="full-bleed">
  <div class="home-container">
    <video autoplay muted loop>
      <source src="../static/video/Home-video.mp4" type="video/mp4">
    </video>
    <div class="home-title">
      <p class="eyebrow">PARHUMP REALTOR</p>
      <h1>DREAM HOMES TO INVESTMENT GEMS</h1>
      <h2>EXPERT GUIDANCE, EVERY STEP OF THE WAY</h2>
    </div>
  </div>
</section>

   <section id="about">
        <div class="about-section">
            <img src="../static/images/About Image 1.png" alt="Image of Marci Metzger" class="about-image">
            <div class="about-text-container">
                <div class="about-text">
                  <p class="eyebrow">REALTOR FOR 3 NEARLY DECADES</p>
                  <h2>MARCI METZGER</h2>
                  <p>Marci brings a wealth of experience to her clients in Southern Nevada, having been a licensed real estate professional since 1995, starting as a REALTOR and then becoming a 
                    Broker in Washington State. Her move to the sunny climate allows her to focus on assisting buyers and sellers in a new market, drawing upon her extensive background.</p>
                  <p> With deep roots in the industry and a passion for service, Marci brings a personalized, knowledgeable approach to every transaction. Her perspective on real estate 
      in Pahrump is shaped by a strong belief in its promise and potential. She sees Pahrump not just as a place to live but as a community full of opportunity ideal for families,
       retirees, and investors alike. Whether it's the scenic desert views, the affordable lifestyle, or the steady development, Marci views Pahrump as a hidden gem in Southern Nevada’s real estate landscape</p>
                  <button class="learn-more-button">Learn More</button>
                </div>
              </div>
        </div>
    </section>

<section id="Get-it-sold">
  <div class="get-it-sold-container">
    <!-- Existing Content -->
    <div class="get-it-sold-content">
      <div class="text-content">
        <p class="eyebrow">YOUR TRUSTED SELLING PARTNER</p>
        <h2>GET IT SOLD</h2>
        <p class="top-sales">TOP RESIDENTIAL SALES LAST 5 YEARS</p>
        <p class="sales-info">
          We helped nearly 90 clients in 2021, and closed $28.5 million in sales!
          Our team works hard every day to grow and learn, so that we may continue
          to excel in our market. Our clients deserve our best, & we want to make sure
          our best is better every year.
        </p>
      </div>
      <div class="image-content">
        <img src="../static/images/Top-Residential.jpg" alt="top-residential" class="top-residential">
      </div>
    </div>

      <div class="dont-just-list-it-content">
      <div class="image-content">
        <img src="../static/images/Dont-just-list-it.jpeg" alt="dont-just-list-it" class="dont-just-list-it-img">
      </div>
      <div class="text-content">
        <p class="eyebrow">DON'T LIST IT"</p>
        <p>
          Get it SOLD! We exhaust every avenue to ensure our listings are at
          the fingertips of every possible buyer, getting you top dollar for your
          home.
        </p>
      </div>
    </div>

          <div class="guide-to-buyers-content">
        <div class="text-content">
          <p class="guide-to-buyers">GUIDE TO BUYERS</p>
          <p>
            Nobody knows the market like we do. Enjoy having a pro at your
            service. Market analysis, upgrades lists, contractors on speed dial,
            & more!
          </p>
        </div>
        <div class="image-content">
          <img src="../static/images/Guide-to-buyers.jpeg" alt="guide-to-buyers" class="guide-to-buyers">
        </div>
      </div>


</section>

  <script src="../static/js/website.js"></script>
</body>
</html>